# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.idea
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Laravel specific
/laravel-admin/vendor/
/laravel-admin/node_modules/
/laravel-admin/public/hot
/laravel-admin/public/storage
/laravel-admin/public/build
/laravel-admin/storage/*.key
/laravel-admin/.env
/laravel-admin/.env.backup
/laravel-admin/.phpunit.result.cache
/laravel-admin/Homestead.json
/laravel-admin/Homestead.yaml
/laravel-admin/auth.json
/laravel-admin/npm-debug.log
/laravel-admin/yarn-error.log
/laravel-admin/.fleet
/laravel-admin/.idea
/laravel-admin/.vscode

